*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body{
  position: relative;
}



.container::after{
  clear:both;
  display: table;
  content:"";
}
.container{
  background-color:background: rgba(53,42,9,1);
background: -moz-linear-gradient(top, rgba(53,42,9,1) 0%, rgba(55,44,9,1) 1%, rgba(214,214,41,1) 87%, rgba(214,214,41,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,42,9,1)), color-stop(1%, rgba(55,44,9,1)), color-stop(87%, rgba(214,214,41,1)), color-stop(100%, rgba(214,214,41,1)));
background: -webkit-linear-gradient(top, rgba(53,42,9,1) 0%, rgba(55,44,9,1) 1%, rgba(214,214,41,1) 87%, rgba(214,214,41,1) 100%);
background: -o-linear-gradient(top, rgba(53,42,9,1) 0%, rgba(55,44,9,1) 1%, rgba(214,214,41,1) 87%, rgba(214,214,41,1) 100%);
background: -ms-linear-gradient(top, rgba(53,42,9,1) 0%, rgba(55,44,9,1) 1%, rgba(214,214,41,1) 87%, rgba(214,214,41,1) 100%);
background: linear-gradient(to bottom, rgba(53,42,9,1) 0%, rgba(55,44,9,1) 1%, rgba(214,214,41,1) 87%, rgba(214,214,41,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#352a09', endColorstr='#d6d629', GradientType=0 );

  width: calc(100% - 170px);
  height: 660px;
  margin: 0 auto;
  float: left;
  display: inline-block;
  overflow-y: scroll;
}

main{


}
.aside{
  width: 170px;
  height: calc(100vh - 80px);
  background-color: rgba(5,5,5,0.9);
  float: left;
  display:inline-block;
}

.logo{
  color: white;
  margin: 25px;
  margin-left: 10px;
}
.logo i{
  margin: 0 5px;
  display: inline-block;

}
.logo h2::after{
  content: "\00a9";
  font-size: 9px;
  padding-bottom: 10px;
}
.logo h2{
  display: inline;
  font-size: 15px;
  margin-bottom: 40px;

}
.player{
  height: 80px;
  width: 100vw;
  background-color: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
  right:0;

}
.player img{
  height: 60px;
  margin: 10px;
  display: inline;
}
.name::after{
  content: "\2661"
  color:white;
}
.name{
  display: inline-block;

}
.name h4{
  color:white;
  font-weight: normal;
  margin-bottom: 10px;
}
.name p{
  color: grey;
  margin: 20px;
}
.menuleft a:hover{
  color: white;
}
.menuleft{
  list-style-type: none;
  margin-bottom: 30px;
}
.menuleft li a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
}
.menuleft i:hover{
  color: white;
}
.menuleft i{
  color: grey;
  margin: 10px;
}
.recent{
  list-style-type: none;
  margin-bottom: 80px;
}
.recent li:hover{
  color: white;
}
.recent li a{
    text-decoration: none;
    color: grey;
    font-size: 12px;
    margin: 10px;
}
.upper{
  text-transform: uppercase;

}
.recent i:hover{
  color: white;
}
.recent i{
  color: grey;
}
.play hr{
  color: grey;
  margin:30px 0px;
}
.play a{
  font-size: 12px;
  text-decoration: none;
  color: grey;
}
.play i{
  color: grey;
  margin-left: 10px;
}
.bar{
  height:600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.high{
  height: 80px;
  width: 100%;





}
.high ul{
  list-style-type: none;
  line-height: 80px;
  display: flex;
  justify-content: center;
}
.high li a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 5px;
  text-transform: uppercase;
  float: left;
  padding-right: 30px;
}
#gree{
  border-bottom: 1px solid green;
  border-bottom-width: 1px;
}
.containero{
  padding: 100px;

}
.containero h1{
  padding: 20px;
  color: white;
  font-size: 25px;
  font-weight: 400;

}
.rock{
  border-radius: 115px;
    height: 120px;
    margin-left: 30px;
    margin-top: 15px;
}
.player{
  display: flex;
  justify-content: space-between;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  justify-content: center;
  padding: 40px;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  border-radius: 5px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
}
