*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body{
  position: relative;
}



.container::after{
  clear:both;
  display: table;
  content:"";
}
.container{
  background-color: yellow;
  width: calc(100% - 170px);
  height: 660px;
  margin: 0 auto;
  float: left;
  display: inline-block;
  overflow-y: scroll;
}

main{


}
.aside{
  width: 170px;
  height: calc(100vh - 80px);
  background-color: #050505;
  float: left;
  display:inline-block;
}

.logo{
  color: white;
  margin: 25px;
  padding-top: 20px;
}
.logo i{
  margin: 0 5px;

}
.logo h2::after{
  content: "\00a9";
  font-size: 9px;
}
.logo h2{
  display: inline;
  font-size: 15px;
  margin-bottom: 40px;

}
.player{
  height: 80px;
  width: 100vw;
  background-color: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
  right:0;

}
.player img{
  height: 70px;
}
